<!DOCTYPE html>
<html>
    <head>
        <title>Tayyabas blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tayyabas Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post. I am just playing around with HTML</p>
            <time>published: 21.04.2014, 16:14</time>
        </article>

        <article>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post. I am just playing around with HTML.</p>
            <time>published: 21.04.2014, 16:19</time>
        </article>
    </body>
</html>